<div class="container">
  <app-dynamic-box [backgroundColor] = "'#1877F2'" content1 = "40k FRIENDS" content2="450 FEEDS" [icon]="faFacebook" ></app-dynamic-box>
  <app-dynamic-box  [backgroundColor] = "'#1DA1F2'" content1 = "30k FRIENDS" content2="450 TWEETS" [icon]="faTwitter"></app-dynamic-box>
  <app-dynamic-box [backgroundColor] = "'#0077B5'" content1 = "40 + CONTACTS" content2="250 FEEDS" [icon]="faLinkedin"></app-dynamic-box>
  <app-dynamic-box content1 = "90k FOLLOWERS" content2="92 CIRCLES" [icon]="faGoogle"></app-dynamic-box>
</div>
